@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>GRADE METER</h1>
    <p class="lead">GradeMeter App is Useful for Allcating and Record Grades for Students of Educational Institution.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Grades Section</h2>
        <p>
           In this Section We can Do CRUD Operations for Grades. It is master for Grades Table in Database and will be used while adding students to associate grades with students.
        </p>
        <p><a class="btn btn-default" href="/Grades/">Grades List</a></p>
    </div>
    <div class="col-md-12">
        <h2>Students Section</h2>
        <p>In this section we can DO CRUD Operations for Students Section and We can Add Grades To Every Student in one to many relationship</p>
        <p><a class="btn btn-default" href="/Students/">Students List</a></p>
    </div>
   
</div>